/*
	http://kuler.adobe.com/#themeID/334560
	Blue: #10222b
	Dk. Green: #95ab63
	Lt. Green: #bdd684
	Off-white: #e2f0d6
	Cream: #f6ffe0
*/

body { background: #f6ffe0; }

a { color: #95ab63; }

#sitewrapper {
	color: #10222b;
	background: #e2f0d6; }

h1 {
	color: #10222b;
	background: #e2f0d6;
	border-color: #10222b; }

ul a {
	color: #f6ffe0;
	background: #10222b; }
	ul a:hover,
	ul a.active {
		color: #10222b;
		background: #95ab63; }

form { background: #95ab63; }

fieldset { background: #bdd684; }
	fieldset p {
		background: #f6ffe0;
		border-color: #95ab63; }